.hero-section2{
  position: relative;
}


.hero-section-top {
  position: relative;
  background:#0b0d0d ;
  height: 90vh;
  width: 100%;
  padding: 5vw 25vw 30vw 5vw;
  overflow: hidden;
}

.hero-section-top p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
  font-weight: 600;
  font-size: 3.8em;
  letter-spacing: 0.05em;
  opacity: 1;
}


.hero-section-top p span {
  display: inline-block;
}

.wake-up {
  display: flex;
  position: relative;
  padding: 0 5vw;
  height: 80vh;
  gap: 2vw;
  background:#0b0d0d;
  z-index: 100;
}

.wake-up-image {
  flex: 1;
  width: 50%;
  height: 80vh;
  overflow: hidden;
  border-radius: 50px;
}

.wake-up-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.wake-up-text {
  width: 50%;
  display: flex;
  padding: 5vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wake-up-text span {
  display: inline-block;
}


.wake-up-text p {
  position: absolute;
  top: 15%;
  font-size: 1.5vw;
  opacity: 0.6;
  padding-top: 1em;
  text-transform: uppercase;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
  letter-spacing: 0.15em;
}

.wake-up-text h1 {
  position: absolute;
  top: 25%;
  font-size: 8.5vw;
  color: #52fea2;
  padding-bottom: 0.5em;
  font-family: "inter tight", sans-serif;
  letter-spacing: 0.1em;
}

.wake-up-text h1 span {
  display: inline-block;
}

@media (max-width: 780px) {
  .hero-section-top{
    height: 70vh;
  }
    .wake-up{
        flex-direction: column;
    }
    .wake-up-image{
        width: 100%;
    }
    .wake-up-text{  
        width: 100%;
    }
    .wake-up-text p{
        font-size: 1em;
    }
    .wake-up-text h1{ 
        font-size: 4em;
    }
}

@media (max-width: 1099px) {
    .hero-section-top p{
        font-size: 3em;
    }
}

@media (max-width: 456px) {
  .hero-section-top p {
    font-size: 1.8em;
  }

  .wake-up{
    height: 50vh;
  }

  .wake-up-text p{
    font-size: 1em;
    top: 10%;
  }

  .wake-up-text h1{
    top: 20%;
  }

  .hero-section-top {
    padding: 6vw;
    height: 65vh;
  }
}