/* Loader Wrapper */
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

/* Overlay Style (Full screen) */
.loader-wrapper.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 13, 13, 0.9); /* dark semi-transparent */
  z-index: 9999;
}

/* Small loader (e.g., inside buttons) */
.loader-wrapper.small {
  min-height: unset;
  height: 19px;
}

/* Main Bounce Loader */
.loader-bounce {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #52fea2;
  animation: bounce-loader 1s infinite linear alternate;
}

/* Animation */
@keyframes bounce-loader {
  0% {
    box-shadow: 20px 0 #52fea2, -20px 0 #52fea233;
    background: #52fea2;
  }
  33% {
    box-shadow: 20px 0 #52fea2, -20px 0 #52fea233;
    background: #52fea233;
  }
  66% {
    box-shadow: 20px 0 #52fea233, -20px 0 #52fea2;
    background: #52fea233;
  }
  100% {
    box-shadow: 20px 0 #52fea233, -20px 0 #52fea2;
    background: #52fea2;
  }
}
